.banner{
  display: flex;
  width: 80%;
  height: 295px;
  margin:0px auto;
  margin-top: 80px;
  .list{
    overflow:hidden;
    width: 20%;
    background-color: white;
    .listProduct{
      background-color: #5CC9F1;
      padding:5px;
      padding-left: 25px;
      color: white;
    }
    .itemProduct{
      display: flex;
      width: 100%;
      height: 20px;
      padding:12px 20px;
      cursor: pointer;
      align-items: center;
      &:hover{
          background-color: #5CC9F1;
          color: white;
      }
      svg{
        width: 20px;
        margin-right: 10px;
        color: gray;
      }
    }

  }
  img{
    width: 1000px;
  }
}
